<div class="row-fluid">  
  <div  ng-include="'./templates/messages.html'"></div>
 <form class="form-inline" role="form">
  <div class="form-group ">
    <label for="SelectYear">Select Year:</label>
    <input type="text" class="form-control" id="SelectYear" ng-model="Detail.year" ng-change="monitorYear()" required>
  </div>
  <button type="button" class="btn btn-default" ng-click="generateExpenseForm()">ExpenseForm</button>
  <div class="row" ng-hide="hideTable">
  <table class="table table-striped">
    <thead>
      <th>Year</th>
	  <th>Month</th>
	  <th>Week</th>
	  <th>Expense Category</th>
	  <th>Date</th>
	  <th>Amount Spent</th>
      </thead>
      <tbody>
         <tr>
					<td>{{Detail.year}}</td>
					<td><select ng-model="Detail.month" ng-options="m for m in months" ng-change ="monitorChange()" ><option value="">(blank)</option></select></td>
					<td><select ng-model="Detail.week" ng-options="w for w in weeks" ng-change ="monitorChange()"><option value="">(blank)</option></select></td>
          <td><select ng-model="Detail.expenditures" ng-change="monitorChange()" ng-options="e.expenditureCategory as e.expenditureCategory for e in expendituresfromdb"><option value="">(blank)</option></select></td>
					<td><input class ="form-control"  ng-model="Detail.date" jqdatepicker></td>
					<td><input class ="form-control" ng-model="Detail.Amount"></td>
          <td><button class="btn btn-primary" ng-click="addDetails()">Add Details</button></td>
					<td><button class="btn btn-info" ng-click="update()">Update</button></td>
					<td><button class="btn btn-info" ng-click="deselect()">Clear</button></td>
					</tr>
          <tr ng-repeat="detail in Details">
            <td>{{detail.year}}</td>
            <td>{{detail.month}}</td>
            <td>{{detail.week}}</td>
            <td>{{detail.expenditures}}</td>
            <td>{{detail.date}}</td>
            <td>{{detail.Amount}}</td>
            <td><button class="btn btn-danger" ng-click="remove(detail._id)">Remove</button></td>
				<td><button class="btn btn-warning" ng-click="edit(detail._id)">Edit</button></td>
          </tr>
          <tr class="danger"><td colspan="5"><h3 >Total Spent:</h3></td><td>{{totalSpent}}</td></tr>
      </tbody>  
  </table>
  </div>
  
</form>
   </span>
</div>