<div class="row-fluid">  
  <div  ng-include="'./templates/messages.html'"></div>
 <form class="form-inline" role="form">
  <div class="form-group ">
    <label for="SelectYear">Select Year:</label>
    <input type="text" class="form-control" id="SelectYear" ng-model="year" ng-change="getMonth()">
  </div>
  <button type="button" class="btn btn-default" ng-click="generateExpenseForm()">ExpenseForm</button>
  <div class="row">
  <table class="table table-striped">
    <thead>
      <th>Year</th>
	  <th>Month</th>
	  <th>Week</th>
	  <th>Expense Category</th>
	  <th>Date</th>
	  <th>Amount Spent</th>
      </thead>
      <tbody>
         <tr>
					<td>{{year}}</td>
					<td><select ng-model="template" ng-options="t.name for t in templates"><option value="">(blank)</option></select></td>
					<td><select ng-model="months" ng-options="t.name for t in templates"><option value="">(blank)</option></select></td>
          <td><select ng-model="template" ng-options="t.name for t in templates"><option value="">(blank)</option></select></td>
					<td><input class ="form-control" ng-model=""></td>
					<td><input class ="form-control" ng-model=""></td>
					</tr>
      </tbody>  
  </table>
  </div>
  
</form>
   </span>
</div>